In [199]:
#import pandas
import pandas as pd

In [200]:
#import data
budget_df = pd.read_csv("../pybank/budget_data.csv")

In [201]:
#check the heading to see if it got pulled in
budget_df.head(3)

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013

In [202]:
#Count number of rows/months
total_months = budget_df.count()
total_months = total_months[0]
print(total_months)

86

In [203]:
#Calculate net total profit by summing up the Profit/Losses column
total_net_profit = budget_df["Profit/Losses"].sum()
print(total_net_profit)

38382578

In [204]:
#Create a third column that calculates the change per month
budget_df["Change"] = budget_df["Profit/Losses"].diff()
budget_df.head(5)

       Date  Profit/Losses    Change
0  Jan-2010         867884       NaN
1  Feb-2010         984655  116771.0
2  Mar-2010         322013 -662642.0
3  Apr-2010         -69417 -391430.0
4  May-2010         310503  379920.0

In [205]:
#calculate avg monthly change
avg_change = budget_df['Change'].mean(skipna=True)
avg_change = (round(avg_change))
print(avg_change)

-2315

In [206]:
#find greatest increase in profits
max_gain =budget_df["Change"].max()
print(max_gain)

1926159.0

In [207]:
#format to dollars, I could not get this to work ?????
'${:,.2f}'.format(max_gain)
print(max_gain)

1926159.0

In [208]:
#query dataframe to find max month
max_month = budget_df.query("Change == 1926159.0")
print(max_month)

# take the first value in filtered dataframe and assign it to max_month variable
max_month = max_month.index[0]
print(max_month)

        Date  Profit/Losses     Change
25  Feb-2012        1170593  1926159.0
25

In [209]:
#checking dataframe to make sure data is there
budget_df.head()

       Date  Profit/Losses    Change
0  Jan-2010         867884       NaN
1  Feb-2010         984655  116771.0
2  Mar-2010         322013 -662642.0
3  Apr-2010         -69417 -391430.0
4  May-2010         310503  379920.0

In [210]:
#drop profit/loss column
budget_df = budget_df.drop(["Profit/Losses"],axis=1)
budget_df.head()

       Date    Change
0  Jan-2010       NaN
1  Feb-2010  116771.0
2  Mar-2010 -662642.0
3  Apr-2010 -391430.0
4  May-2010  379920.0

In [211]:
#set index to "Date"  column
budget_df = budget_df.set_index("Date")
budget_df.head()

            Change
Date
Jan-2010       NaN
Feb-2010  116771.0
Mar-2010 -662642.0
Apr-2010 -391430.0
May-2010  379920.0

In [212]:
#query dataframe to find max month
max_month = budget_df.query("Change == 1926159.0")
print(max_month)

# take the first value in filtered dataframe and assign it to max_month variable
max_month = max_month.index[0]
print(max_month)

             Change
Date
Feb-2012  1926159.0
Feb-2012

In [213]:
#find largest decrease in profits
max_loss = budget_df["Change"].min()
print(max_loss)

-2196167.0

In [214]:
#query dataframe to find min month
min_month = budget_df.query("Change == -2196167.0")
print(min_month)

#take the first value of the filtered dataframe and assign it to min_month variable
min_month = min_month.index[0]
print(min_month)

             Change
Date
Sep-2013 -2196167.0
Sep-2013

In [232]:
#print the results

print("Financial Analysis")
print("-------------------")
print()
print (f'Total months = {total_months}')
print(f'Total net profit is ${total_net_profit}')
print(f'The average change was {avg_change}')
print(f'The greatest profit was in {max_month} and was ${max_gain}')
print(f'The greatest loss was in {min_month} and was ${max_loss}.')

Financial Analysis
-------------------

Total months = 86
Total net profit is $38382578
The average change was -2315
The greatest profit was in Feb-2012 and was $1926159.0
The greatest loss was in Sep-2013 and was $-2196167.0.

In [2]:
from pathlib import Path

In [3]:
output_path=Path("homework2.txt")

In [5]:
with open (output_path,'w')as file:
    file.write("Financial Analysis\n")
    file.write("Total months = 86\n")
    file.write("Total net profit is $38382578\n")
    file.write("The average change was -2315\n")
    file.write("The greatest profit was in Feb 2012 and was $1,926,159\n")
    file.write("The greatest loss was in Sep-2013 and was $-2,196,167\n")